//輝度調節後
.red {
    background-color: $red;
}
.green {
    background-color: $green;
}
.blue {
    background-color: $blue;;
}
.yellow {
    background-color: $yellow;
}
.purple {
    background-color: $purple;
}
.pink {
    background-color: $pink;
}
.gray {
    background-color: $gray;
}
.black {
    background-color: $black;
}
.yellow-red {
    background-color: $yellow-red;
}
.yellow-green {
    background-color: $yellow-green;
}
.blue-green {
    background-color: $blue-green;
}
.purple-blue {
    background-color: $blue-purple;
}
.red-purple {
    background-color: $red-purple;
}

.gray1 {
    background-color: rgb(91, 83, 84)
}
.gray2 {
    background-color: rgb(84, 77, 78)
}
.gray3 {
    background-color: rgb(61, 56, 57)
}
.gray4 {
    background-color: rgb(50, 46, 47)
}


.color {
    //グレー　輝度8.9-8.95
    background-color: rgb(107, 109, 108);
    background-color: rgb(120, 109, 113);
    //1-5
    // 赤
    // background-color: rgb(227, 0, 38);//1-5, 6-10///21-23,24-26
    // 緑
    // background-color: rgb(0, 129, 63);//11-15,27-29
    //青　
    // background-color: rgb(0, 119, 165);//16-20,35-39///30-32,33-35
    //黄色
    // background-color: rgb(133, 111, 0);//40-44,51-55///36-38
    //紫
    // background-color: rgb(182, 0, 229);//56-60,64-68///39-42,43-45
    //ピンク
    // background-color: rgb(164, 92, 85);//162-166,168-173
    // background-color: rgb(226, 19, 0);//178-182
    // background-color: rgb(208, 0, 159);//191-195///46-48 ピンクではない
    //黄赤
    // background-color: rgb(201, 68, 0);//69-73,81-85,///49-51,52-54
    //黄緑　
    // background-color: rgb(91, 123, 0);//86-90,94-98///55-57
    //青緑
    // background-color: rgb(0, 127, 106);//99-103,110-114///61-63,58-60
    //青紫　
    // background-color: rgb(137, 63, 254);//115-119,133-137///64-66
    //赤紫
    // background-color: rgb(222, 0, 100);//138-142,151-155///67-69


    
    //ログの値が1/2
    background-color: rgb(71, 65, 66);//196-200,203
    //輝度1.8ログ値2.5
    background-color: rgb(58, 54, 55);
    //輝度2.2ログ3.5
    background-color: rgb(66, 60, 61);
    //輝度3.6ログ値5.5
    background-color: rgb(80, 73, 74);
    //輝度4.5ログ値6.5s
    background-color: rgb(89, 82, 83);

    //白
    background-color: rgb(190, 172, 174);///75-77

    //ログの値が1/3
    // background-color: rgb(61, 55, 56);///7-11
    //ログの値が1/4
    // background-color: rgb(57, 50, 51);///16-20

    height: 100vh;
    width: 100vw;
}