//輝度調節後
.red {
    background-color: $red;
}
.green {
    background-color: $green;
}
.blue {
    background-color: $blue;;
}
.yellow {
    background-color: $yellow;
}
.purple {
    background-color: $purple;
}
.pink {
    background-color: $pink;
}
.gray {
    background-color: $gray;
}
.black {
    background-color: $black;
}
.yellow-red {
    background-color: $yellow-red;
}
.yellow-green {
    background-color: $yellow-green;
}
.blue-green {
    background-color: $blue-green;
}
.purple-blue {
    background-color: $blue-purple;
}
.red-purple {
    background-color: $red-purple;
}

.gray1 {
    background-color: rgb(91, 83, 84)
}
.gray2 {
    background-color: rgb(84, 77, 78)
}
.gray3 {
    background-color: rgb(61, 56, 57)
}
.gray4 {
    background-color: rgb(50, 46, 47)
}


.color {
    //グレー　輝度8.9-8.95
    background-color: rgb(107, 109, 108);
    background-color: rgb(120, 109, 113);
    //52-54
    // 赤
    background-color: rgb(227, 0, 38);//49-51
    // 緑
    background-color: rgb(0, 129, 63);//46-48
    //青　
    background-color: rgb(0, 119, 165);//43-45
    //黄色
    background-color: rgb(133, 111, 0);//40-42
    //紫
    background-color: rgb(182, 0, 229);//37-39
    //ピンク
    background-color: rgb(208, 0, 159);//34-36 ピンクではない
    //黄赤
    background-color: rgb(201, 68, 0);//31-33
    //黄緑　
    background-color: rgb(91, 123, 0);//28-30
    //青緑
    background-color: rgb(0, 127, 106);//25-27
    //青紫　
    background-color: rgb(137, 63, 254);//22-24
    //赤紫
    background-color: rgb(222, 0, 100);//19-21


    
    // //ログの値が1/2
    // background-color: rgb(71, 65, 66);//16-18
    // //輝度1.8ログ値2.5
    // background-color: rgb(58, 54, 55);//13-15
    // //輝度2.2ログ3.5
    // background-color: rgb(66, 60, 61);//10-12
    // //輝度3.6ログ値5.5
    // background-color: rgb(80, 73, 74);//7-9
    // //輝度4.5ログ値6.5s
    // background-color: rgb(89, 82, 83);//4-6

    // //白
    // background-color: rgb(190, 172, 174);///1-3

    height: 100vh;
    width: 100vw;
}