.circle, .color_check, .introduction, .demo, .comparision {

    .R5{
        background-color: #ff4455;
    }
    .R10{
        background-color: #ff7c31;
    }
    .YR5{
        background-color: #ffae2b;
    }
    .YR10{
        background-color: #ffbd28;
    }
    .Y5{
        background-color: #ffe51d;
    }
    .Y10{
        background-color: #f2ec4a;
    }
    .GY5{
        background-color: #d0f629;
    }
    .GY10{
        background-color: #10ff29;
    }
    .G5{
        background-color: #59ffbd;
    }
    .G10{
        background-color: #33ffd4;
    }
    .BG5{
        background-color: #5afee9;
    }
    .BG10{
        background-color: #42dee4;
    }
    .B5{
        background-color: #50dbf9;
    }
    .B10{
        background-color: #35bbf4;
    }
    .PB5{
        background-color: #1798fb;
    }
    .PB10{
        background-color: #7c17f4;
    }
    .P5{
        background-color: #c801f9;
    }
    .P10{
        background-color: #ff1de8;
    }
    .RP5{
        background-color: #ff04ac;
    }
    .RP10{
        background-color: #ff417f;
    }
    .black {
        background-color: black;
    }
    .white {
        background-color: white;
    }
    .HSL0 {
        background-color: hsl(0, 100%, 50%);
    }
    .HSL30 {
        background-color: hsl(30, 100%, 50%);
    }
    .HSL60 {
        background-color: hsl(60, 100%, 50%);
    }
    .HSL90 {
        background-color: hsl(90, 100%, 50%);
    }
    .HSL120 {
        background-color: hsl(120, 100%, 50%);
    }
    .HSL150 {
        background-color: hsl(150, 100%, 50%);
    }
    .HSL180 {
        background-color: hsl(180, 100%, 50%);
    }
    .HSL210 {
        background-color: hsl(210, 100%, 50%);
    }
    .HSL240 {
        background-color: hsl(240, 100%, 50%);
    }
    .HSL270 {
        background-color: hsl(270, 100%, 50%);
    }
    .HSL300 {
        background-color: hsl(300, 100%, 50%);
    }
    .HSL330 {
        background-color: hsl(330, 100%, 50%);
    }
}