//色
$white : rgb(255, 255, 253);
$black :  rgb(2, 1, 12);
$gray : rgb(107,109,108);
$red : rgb(211, 37, 66);
$green : rgb(35, 123, 79);
$blue : rgb(0, 115, 157);
$yellow : rgb(129, 106, 17);
$purple : rgb(142, 85, 158);
$pink : rgb(150, 92, 86);
$yellow-red : rgb(179, 77, 29);
$yellow-green : rgb(94, 116, 26);
$blue-green : rgb(0, 122, 102);
$blue-purple : rgb(122, 90, 172);
$red-purple : rgb(169, 75, 118);

$white : rgb(255, 255, 253);
$black :  rgb(66, 66, 66);
$gray : rgb(107,109,108);
$red : rgb(220, 0, 37);
$green : rgb(0, 126, 63);
$blue : rgb(0, 116, 158);
$yellow : rgb(129, 108, 0);
$purple : rgb(174, 0, 224);
$pink : rgb(196, 20, 0);
$yellow-red : rgb(198, 63, 0);
$yellow-green : rgb(89, 119, 0);
$blue-green : rgb(0, 123, 103);
$blue-purple : rgb(122, 90, 172);
$red-purple :rgb(213, 0, 96);

// $red : rgb(215, 29, 59);
// $green : rgb(59, 175, 117);
// $blue : rgb(0, 145, 197);
// $yellow : rgb(251, 208, 29);
// $purple : rgb(124, 75, 141);
// $pink : rgb(237, 164, 158);
// $yellow-red : rgb(225, 100, 43);
// $yellow-green : rgb(170, 204, 59);
// $blue-green : rgb(0, 163, 136);
// $blue-purple : rgb(100, 74, 141);
// $red-purple : rgb(225, 99, 155);

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
