//色

$white : rgb(190, 172, 174);;
$black :  rgb(71, 65, 66);
$gray : rgb(107,109,108);
$red : rgb(227, 0, 38);
$green : rgb(0, 129, 63);
$blue : rgb(0, 119, 165);
$yellow : rgb(133, 111, 0);
$purple : rgb(182, 0, 229);
$pink : rgb(208, 0, 159);
$yellow-red : rgb(201, 68, 0);
$yellow-green : rgb(91, 123, 0);
$blue-green : rgb(0, 127, 106);
$blue-purple : rgb(137, 63, 254);
$red-purple :rgb(222, 0, 100);

// $white : rgb(255, 255, 253);
// $red : rgb(215, 29, 59);
// $green : rgb(59, 175, 117);
// $blue : rgb(0, 145, 197);
// $yellow : rgb(251, 208, 29);
// $purple : rgb(124, 75, 141);
// $pink : rgb(237, 164, 158);
// $yellow-red : rgb(225, 100, 43);
// $yellow-green : rgb(170, 204, 59);
// $blue-green : rgb(0, 163, 136);
// $blue-purple : rgb(100, 74, 141);
// $red-purple : rgb(225, 99, 155);

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
