.rank {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    section {
        display: flex;
        column-gap: 2vh;
        align-items: center;
        h3 {
            writing-mode: vertical-lr;
            font-size: 24px;
            font-weight: 100;
        }
    }
    padding: 3vh;
    tr {
        display: flex;
    }
    th, td {
        height: 10vh;
        width: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        section {
            height: 5vh;
            width: 10vh;
        }
    }

    >h3 {
        padding-left: 15vh;
        font-size: 24px;
        font-weight: 100;
    }
}